<div class="modal-overlay remove-modal">
  <div class="modal" data-id="{{id}}">
    <div class="modal-btn-group">
      <button class="icon-close close-modal"></button>
    </div>
    <h2 class="modal-heading">Remove Task</h2>
    <h2 class="message">
      Are you sure you want to remove selected task(s)?
    </h2>

    <div class="btn-group">
      <button class="cancel close-modal">Cancel</button>
      <button class="remove" id="remove">Remove</button>
    </div>
  </div>
</div>