<div class="modal-btn-group">
  <button class="icon-trash trash hide-element"></button>
  <button class="icon-close"></button>
  <button class="icon-check hide-element"></button>
</div>
<h2 class="modal-heading">Remove Task</h2>
<h2 class="message">
  Are you sure you want to remove selected task(s)?
</h2>

<div class="btn-group">
  <button class="cancel">Cancel</button>
  <button class="remove">Remove</button>
</div>