<section class="timer-section" data-id={{id}}>
  <h2 class="task-name">{{heading}}</h2>
  <p class="task-description">{{taskDescription}}</p>
  <div class="attempts">
    <input type="checkbox" class="checkbox" disabled><label></label>
    <input type="checkbox"  class="checkbox" disabled><label></label>
    <input type="checkbox"  class="checkbox" disabled><label></label>
    <input type="checkbox"  class="checkbox" disabled><label></label>
    <input type="checkbox"  class="checkbox" disabled><label></label>
  </div>
  <div class="timer {{category}}-border">
    <div class="timer-wrapper display-none">
      <div class="spinner pie"></div>
      <div class="filler pie"></div>
      <div class="mask"></div>
    </div>
    <div class="time display-none">
      <p class="break-mark display-none">BREAK</p>
      <span class="time-left"></span>
      <p class="min">min</p>
      <span class="completed-task display-none">You <br/> Completed <br/> Task</span>
    </div>
  </div>

  <button class="start">Start</button>
  <button class="start-pomodoro display-none" id="singleStartPomodoro">Start Pomodora</button>

  <div class="btn-group display-none" id="btnsTimerInProgress">
    <button class="fail">Fail Pomodora</button>
    <button class="finish">Finish Pomodora</button>
  </div>

  <div class="btn-group display-none" id="btnsBreakAfterTime">
    <button class="start-pomodoro">Start Pomodora</button>
    <button class="finish-task">Finish Task</button>
  </div>

  <a href="" class="go-back icon-arrow-left" data-tooltip="Go to Global List"></a>
  <a href="" class="go-next icon-arrow-right display-none" data-tooltip="Go to Report"></a>
</section>