<section class="timer-section">
  <h2 class="task-name">1. Creating a New Design</h2>
  <p class="task-description">Lorem ipsum dolor sit amet consectetur adipiscing</p>
  <div class="attempts">
    <input type="checkbox" disabled><label></label>
    <input type="checkbox" disabled><label></label>
    <input type="checkbox" disabled><label></label>
  </div>
  <div class="timer"></div>
  <button class="start">Start</button>
  <a href="" class="go-back icon-arrow-left"></a>
</section>