<section class="timer-section" data-id={{id}}>
  <h2 class="task-name">{{heading}}</h2>
  <p class="task-description">{{taskDescription}}</p>
  <div class="attempts">
    <input type="checkbox" class="checkbox" disabled><label></label>
    <input type="checkbox"  class="checkbox" disabled><label></label>
    <input type="checkbox"  class="checkbox" disabled><label></label>
    <input type="checkbox"  class="checkbox" disabled><label></label>
    <input type="checkbox"  class="checkbox" disabled><label></label>
  </div>
  <div class="timer">
    <div class="timer-wrapper display-none">
      <div class="spinner pie"></div>
      <div class="filler pie"></div>
      <div class="mask"></div>
    </div>
    <span class="display-none" id="completed">
      You <br/> Completed <br/> Task
    </span>
    <div class="time display-none"><p class="break-mark display-none">BREAK</p><span class="time-left"></span><p class="min">min</p></div>
  </div>

  <button class="start">Start</button>

  <div class="btn-group display-none">
    <button class="fail">Fail Pomodora</button>
    <button class="finish">Finish Pomodora</button>
    <button class="finish-task display-none">Finish Task</button>
    <button class="start-pomodoro display-none">Start Pomodora</button>
  </div>
  <a href="" class="go-back icon-arrow-left"></a>
  <a href="" class="go-next icon-arrow-right display-none"></a>
</section>