  <div class="header-container">
    <div class="logo display-none"><img src="/Logo.svg" alt=""> </div>
    <nav class="navigation">
      <ul>
        <li><button class="add-new-task display-none add-new-task-btn-header" data-tooltip="Add new task">+</button></li>
        <li><a href="" class="icon-trash" id="goToRemove" data-tooltip="Remove mode"><span class="checked-tasks" data-tooltip="Remove selected tasks"></span></a></li>
        <li><a href="" class="icon-list active" id="goToTaskList" data-tooltip="Go to Task List"></a></li>
        <li><a href="" class="icon-statistics" id="goToReports" data-tooltip="Go to Report"></a></li>
        <li><a href="" class="icon-settings" id="goToSettings" data-tooltip="Go to Settings"></a></li>
      </ul>
    </nav>
  </div>