  <section class="settings">
    <h1 class="page-heading">Settings</h1>
    <div class="tab-wrapper">
      <h2 class="sub-heading">Pomodoros settings</h2>
      <ul class="tabs">
        <li><a href="#" class="active" id="pomodorosTab">Pomodoros</a></li>
        <li><a href=""  id="categoriesTab">Categories</a></li>
      </ul>
    </div>
    <ul class="settings-criteria">
      <li>
        <div class="inline">
          <span class="criteria-name work-time">work time</span>
          <div id="workTime" class="criteria-value">
            <button id="workTimeDecrease" class="decrease icon-minus"></button>
            <p class="value" id="workTimeValue">25</p>
            <button id="workTimeIncrease" class="increase icon-add"></button>
          </div>
        </div>
        <p class="time-description">Please select a value between 15 and 25 <strong>minutes</strong></p>
      </li>
      <li>
        <div class="inline">
          <span class="criteria-name work-iteration">work iteration</span>
          <div id="workIteration" class="criteria-value">
            <button id="workIterationDecrease" class="decrease icon-minus"></button>
            <p class="value" id="workIterationValue">5</p>
            <button id="workIterationIncrease" class="increase icon-add"></button>
          </div>
        </div>
        <p class="time-description">Please select a value between 2 and 5 <strong>iterations</strong></p>
      </li>
      <li>
        <div class="inline">
          <span class="criteria-name short-break">short break</span>
          <div id="shortBreak" class="criteria-value">
            <button id="shortBreakDecrease" class="decrease icon-minus"></button>
            <p class="value" id="shortBreakValue">5</p>
            <button id="shortBreakIncrease" class="increase icon-add"></button>
          </div>
        </div>
        <p class="time-description">Please select a value between 3 and 5 <strong>minutes</strong></p>
      </li>
      <li>
        <div class="inline">
          <span class="criteria-name long-break">long break</span>
          <div id="longBreak" class="criteria-value">
            <button id="longBreakDecrease" class="decrease icon-minus"></button>
            <p class="value" id="longBreakValue">30</p>
            <button id="longBreakIncrease" class="increase icon-add"></button>
          </div>
        </div>
        <p class="time-description">Please select a value between 15 and 30 <strong>minutes</strong></p>
      </li>
    </ul>
  </section>
  <section class="your-cycle">
    <h2 class="your-cycle-heading">Your cycle</h2>
    <div class="your-cycle-graph">
      <span class="start-cycle">0m</span>
        <div class="work-time-div"></div>
        <div class="short-break-div"></div>
        <div class="work-time-div"></div>
        <div class="short-break-div"></div>
        <div class="work-time-div"></div>
        <div class="short-break-div"></div>
        <div class="work-time-div"></div>
        <div class="short-break-div"></div>
        <div class="work-time-div"></div>
      <div class="long-break-div">
        <span class="first-cycle">First cycle: 2h 55m</span>
        <span class=""></span>
      </div>
        <div class="work-time-div"></div>
        <div class="short-break-div"></div>
        <div class="work-time-div"></div>
        <div class="short-break-div"></div>
        <div class="work-time-div"></div>
        <div class="short-break-div"></div>
        <div class="work-time-div"></div>
        <div class="short-break-div"></div>
        <div class="work-time-div"></div>
      <span class="end-cycle">5h 30m</span>
    </div>
    <div class="scale">
      <span class="scale-item">30m</span>
      <span class="scale-item">1h</span>
      <span class="scale-item">1h 30m</span>
      <span class="scale-item">2h</span>
      <span class="scale-item">2h 30m</span>
      <span class="scale-item">3h</span>
      <span class="scale-item">3h 30m</span>
      <span class="scale-item">4h</span>
      <span class="scale-item">4h 30m</span>
      <span class="scale-item">5h</span>
    </div>
  </section>
  
  <div class="btn-group">
    <a class="btn go-to-task btn-malibu">Go to Task</a>
    <button class="btn save-settings btn-mountain-meadow">Save</button>
  </div>