<section class="settings-categories">
  <h1 class="page-heading">Settings</h1>
  <div class="tab-wrapper">
    <h2 class="sub-heading">Pomodoros settings</h2>
    <ul class="tabs">
      <li><a href="#" id="pomodorosTab">Pomodoros</a></li>
      <li><a href="" class="active" id ="categoriesTab">Categories</a></li>
    </ul>
  </div>
  <ul class="categories-list">
    <li>Work</li>
    <li>Education</li>
    <li>Hobby</li>
    <li>Sport</li>
    <li>Other</li>
  </ul>
</section>
<a href="" class="btn go-to-task btn-malibu">Go to Task</a>