<section class="daily-tasks">
  {{{heading}}}

  <div class="links-container right-alignment">
    {{{selectAllTabs}}}
    {{{tabs}}}
  </div>
    <ul class="task-list">
    </ul>

  <h2 class="message">Task added,<br />
    drag it to the top 5 in daily task list
  <span class="icon-arrow_circle"></span>
  </h2>
</section>