<section class="daily-tasks">
  {{{heading}}}

  <div class="links-container right-alignment">
    {{{selectAllTabs}}}
    {{{tabs}}}
  </div>
  <ul class="task-list">
  </ul>

  <h2 class="message">Excellent, <br />
    all daily tasks done! :)
  </h2>
</section>