<section class="daily-tasks">
  <div class="page-heading-container">
    <h1 class="page-heading">Daily Task List</h1>
    <button class="add-new-task">+</button>
  </div>

  <ul class="tabs">
    <li><a href="" class="active" id="toDo">To Do</a></li>
    <li><a href="" id="done">Done</a></li>
  </ul>

  <ul class="task-list">
    {{{tasks}}}
  </ul>
</section>