<section class="daily-tasks">
  {{{heading}}}
  {{#if removeMode}}
    <ul class="tabs">
      <li><a href="#" class="active"  id="toDo">To Do</a></li>
      <li><a href="" id="done">Done</a></li>
    </ul>

    <ul class="task-list">
      {{{tasks}}}
    </ul>
  {{/if}}
  {{#unless removeMode}}
    <ul class="tabs">
      <li><a href="" class="active" id="toDo">To Do</a></li>
      <li><a href="" id="done">Done</a></li>
    </ul>

    <ul class="task-list">
      {{{tasks}}}
    </ul>
  {{/unless}}
</section>