<section class="daily-tasks">
  {{{heading}}}

  <div class="links-container right-alignment">
    {{{selectAllTabs}}}
    {{{tabs}}}
  </div>

    <ul class="task-list">
      {{{tasks}}}
    </ul>
</section>