  <section class="daily-tasks">
    <div class="page-heading-container">
      <h1 class="page-heading">Daily Task List</h1>
      <button class="add-new-task">+</button>
    </div>

    <ul class="tabs">
      <li><a href="" id="toDo">To Do</a></li>
      <li><a href="" class="active" id="done">Done</a></li>
    </ul>

    <ul class="task-list">
      <li class="task urgent work done">
        <div class="border">
          <input type="checkbox" class="checkbox-none">
        </div>
        <span>Today</span>
        <div class="task-description">
          <h2>Lorem ipsum sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
        </div>
        <div class="go-to-timer"><a class="icon-tomato" href=""><span class="estimation">3</span></a></div>
      </li>

      <li class="task low education done">
        <div class="border">
          <input type="checkbox" class="checkbox-none">
        </div>
        <span>Today</span>
        <div class="task-description">
          <h2>Lorem ipsum sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
        </div>
        <div class="go-to-timer"><a class="icon-tomato" href=""><span class="estimation">3</span></a></div>
      </li>

      <li class="task middle hobby done">
        <div class="border">
          <input type="checkbox" class="checkbox-none">
        </div>
        <span>Today</span>
        <div class="task-description">
          <h2>Lorem ipsum sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
        </div>
        <div class="go-to-timer"><a class="icon-tomato" href=""><span class="estimation">3</span></a></div>
      </li>

      <li class="task sport high done">
        <div class="border">
          <input type="checkbox" class="checkbox-none">
        </div>
        <span>Today</span>
        <div class="task-description">
          <h2>Lorem ipsum sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
        </div>
        <div class="go-to-timer"><a class="icon-tomato" href=""><span class="estimation">3</span></a></div>
      </li>

      <li class="task urgent other done">
        <div class="border">
          <input type="checkbox" class="checkbox-none">
        </div>
        <span>Today</span>
        <div class="task-description">
          <h2>Lorem ipsum sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
        </div>
        <div class="go-to-timer"><a class="icon-tomato" href=""><span class="estimation">3</span></a></div>
      </li>
    </ul>
  </section>