  <section class="daily-tasks">
    <div class="page-heading-container">
      <h1 class="page-heading">Daily Task List</h1>
      <button class="add-new-task">+</button>
    </div>

    <ul class="tabs">
      <li><a href="#" class="active">To Do</a></li>
      <li><a href="">Done</a></li>
    </ul>

    <ul class="task-list">
      <li class="task urgent hobby">
        <div class="border">
          <input type="checkbox" class="checkbox-none">
        </div>
        <span>Today</span>
        <div class="task-description">
          <h2>Lorem ipsum sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
        </div>
        <button class="edit-task icon-edit"></button>
        <div class="go-to-timer"><a class="icon-tomato" href=""><span class="estimation">3</span></a></div>
      </li>
    </ul>
  </section>
  <ul class="tabs">
    <li><a href="#" class="active">All</a></li>
    <li><a href="">Urgent</a></li>
    <li><a href="">High</a></li>
    <li><a href="">Middle</a></li>
    <li><a href="">Low</a></li>
  </ul>

  <section class="global-tasks">
    <div class="work-group">
      <h2 class="category-heading work">work</h2>
      <ul class="task-list">
        <li class="task urgent work">
          <div class="border">
            <input type="checkbox" class="checkbox-none">
          </div>
          <span class="date-day">23<span class="date-month">May</span></span>
          <div class="task-description">
            <h2>Lorem ipsum sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
          </div>
          <div class="task-controls">
            <button class="edit-task icon-arrows-up"></button>
            <button class="edit-task icon-edit"></button>
          </div>
          <div class="go-to-timer"><a class="icon-tomato" href=""><span class="estimation">3</span></a></div>
        </li>
      </ul>
    </div>

    <div class="education-group">
      <h2 class="category-heading education">education</h2>
      <ul class="task-list">
        <li class="task urgent education">
          <div class="border">
            <input type="checkbox" class="checkbox-none">
          </div>
          <span class="date-day">23<span class="date-month">May</span></span>
          <div class="task-description">
            <h2>Lorem ipsum sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
          </div>
          <div class="task-controls">
            <button class="edit-task icon-arrows-up"></button>
            <button class="edit-task icon-edit"></button>
          </div>

          <div class="go-to-timer"><a class="icon-tomato" href=""><span class="estimation">3</span></a></div>
        </li>

        <li class="task low education">
          <div class="border">
            <input type="checkbox" class="checkbox-none">
          </div>
          <span class="date-day">23<span class="date-month">May</span></span>
          <div class="task-description">
            <h2>Lorem ipsum sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
          </div>
          <div class="task-controls">
            <button class="edit-task icon-arrows-up"></button>
            <button class="edit-task icon-edit"></button>
          </div>
          <div class="go-to-timer"><a class="icon-tomato" href=""><span class="estimation">3</span></a></div>
        </li>
      </ul>
    </div>


    <div class="hobby-group">
      <h2 class="category-heading hobby">education</h2>
      <ul class="task-list">
        <li class="task urgent hobby">
          <div class="border">
            <input type="checkbox" class="checkbox-none">
          </div>
          <span class="date-day">23<span class="date-month">May</span></span>
          <div class="task-description">
            <h2>Lorem ipsum sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
          </div>
          <div class="task-controls">
            <button class="edit-task icon-arrows-up"></button>
            <button class="edit-task icon-edit"></button>
          </div>

          <div class="go-to-timer"><a class="icon-tomato" href=""><span class="estimation">3</span></a></div>
        </li>

        <li class="task low hobby">
          <div class="border">
            <input type="checkbox" class="checkbox-none">
          </div>
          <span class="date-day">23<span class="date-month">May</span></span>
          <div class="task-description">
            <h2>Lorem ipsum sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
          </div>
          <div class="task-controls">
            <button class="edit-task icon-arrows-up"></button>
            <button class="edit-task icon-edit"></button>
          </div>
          <div class="go-to-timer"><a class="icon-tomato" href=""><span class="estimation">3</span></a></div>
        </li>

        <li class="task low hobby">
          <div class="border">
            <input type="checkbox" class="checkbox-none">
          </div>
          <span class="date-day">23<span class="date-month">May</span></span>
          <div class="task-description">
            <h2>Lorem ipsum sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
          </div>
          <div class="task-controls">
            <button class="edit-task icon-arrows-up"></button>
            <button class="edit-task icon-edit"></button>
          </div>
          <div class="go-to-timer"><a class="icon-tomato" href=""><span class="estimation">3</span></a></div>
        </li>

        <li class="task low hobby">
          <div class="border">
            <input type="checkbox" class="checkbox-none">
          </div>
          <span class="date-day">23<span class="date-month">May</span></span>
          <div class="task-description">
            <h2>Lorem ipsum sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
          </div>
          <div class="task-controls">
            <button class="edit-task icon-arrows-up"></button>
            <button class="edit-task icon-edit"></button>
          </div>
          <div class="go-to-timer"><a class="icon-tomato" href=""><span class="estimation">3</span></a></div>
        </li>
      </ul>
    </div>
  </section>