body {
  background: @madison;
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: @nepal;
  text-decoration: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}

input[type="checkbox"],
input[type="radio"] {
  &:hover {
    cursor: pointer;
  }
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1186px;
  min-width: 540px;
  padding: 0 7.6%;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.header {
  padding-top: 56px;
}

.active {
  color: white;
}

.navigation ul {
  display: flex;
  justify-content: flex-end;

  li {
    padding-left: 35px;
    font-size: 1.25rem; // 20px
    a {
      &:hover {
        color: @spray;
      }
    }
  }
}

.page-heading {
  font-family: @roboto-bold;
  font-size: 1.75rem; //28px;
  color: @white;
  padding-top: 21px;

  .mobile({
    text-align: left;
  position: absolute;
  top: -55px;
  left: 0;
  });
}

.sub-heading {
  font-family: @roboto-light;
  font-size:1.375rem; // 22px;
  font-weight: normal;
  color: @nepal;
  padding: 16px 0 81px;

  .mobile({
    padding: 80px 0 60px;
  });
}

.tabs {
  font-family: @roboto-light;
  display: flex;
  justify-content: flex-end;

  li {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid @nepal;
  }

  li:last-child {
    border: none;
    margin: 0;
    padding: 0;
  }

  li {
    a {
      &:hover {
        color: @spray;
      }
    }
  }
}

.left-alignment {
  justify-content: flex-start;
}

.links-container.right-alignment {
  justify-content: flex-end;
}




.increase,
.decrease,
.save-settings {
  border: none;
  background: transparent;
  outline: none;
  color: @nepal;
}

.increase,
.decrease {
  &:active {
    color: @spray;
  }

  &:hover {
    cursor: pointer;
    color: @spray;
  }
}

.btn {
  color: @white;
  font-family: @ptsans;
  font-size: 1.125rem; // 18px;
  font-weight: bold;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-group {
  padding-bottom: 74px;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 30px;
}

.go-to-task,
.go-to-settings {
  padding: 10px 25px;
}

.btn-malibu {
  background-color: @malibu;

  &:active {
    background-color: @pelorous;
  }

  &:hover {
    background-color: @curious-blue;
  }
}

.btn-mountain-meadow {
  background-color: @mountain-meadow;

  &:active {
    background-color: @deep-sea;
  }

  &:hover {
    background-color: @dark-mountain-meadow;
  }
}

.save-settings,
.skip {
  padding: 10px 45px;
}

.message {
  font-family: @roboto-light;
  font-weight: normal;
  font-size: 2.25rem; // 36px;
  color: @nepal;
  text-align: center;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 50px;
  position: relative;

  .laptop-md({
    font-size: 2rem;
  });

  span:before {
    font-size: 3.75rem; // 60px;
    display: block;
    padding-top: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.trash {
  position: relative;

  .checked-tasks {
    position: absolute;
    font-family: @roboto-bold;
    font-size: 0.875rem; // 14px;
    background-color: @tomato;
    color: @white;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    left: 10px;
    top: 8px;
  }
}

.no-visibility {
  visibility: hidden;
}

.go-back,
.go-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;

  &:hover {
    color: @spray;
  }
}

.go-back {
  left: 30px;
}

.go-next {
  right: 30px;
}

.fixed-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  background-color: @madison;
  padding: 30px 0;

  .navigation {
    align-self: center;

    button {
      margin-top: -8px;
    }
  }

  .header-container {
    max-width: 1186px;
    padding: 0 7.6%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .logo {
      width: 243px;

      img {
        width: 100%;
      }
    }
  }
}

.fixed-header + .daily-tasks {
  padding-top: 150px;
}

.tab-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .tabs {
    position: absolute;
    top: 30px;
    right: 0;
    align-self: flex-end;
  }
}

.display-none {
  display: none;
}

.tooltip {
  font-family: @ptsans;
  font-size: 12px;
  font-weight: bold;
  color: @madison;
  text-align: center;
  background-color: #d6e6f1;
  position: absolute;
  padding: 10px 15px;
  border: 1px solid rgba(0,0,0, .2);
  border-radius: 3px;
  opacity: .9;
  z-index: 1000;
}

.add-new-task.add-new-task-btn-header {
  color: @nepal;
}
