<div class="notification-message {{type}}">
    <span class="icon-wrapper"><span class="icon-tomato-success"></span></span>
    <p>{{message}}</p>
    <button class="icon-close" id="closeButton"></button>
</div>