  <section class="report-section">
    <h2>Report</h2>
    <ul class="tabs">
      <li><a href="" class="active" id="dailyReport">Day</a></li>
      <li><a href="" id="weeklyReport">Week</a></li>
      <li><a href="" id="monthlyReport">Month</a></li>
    </ul>
    <div id="containerChart" style="width:80%; height:400px; margin: 0 auto"></div>
    <ul class="tabs">
      <li><a href="" class="active" id="pomodorosReport">Pomodoros</a></li>
      <li><a href="" id="tasksReport">Tasks</a></li>
    </ul>
    <a href="" class="go-back icon-arrow-left" data-tooltip="Go to Global List"></a>
  </section>