  <section class="report-section">
    <h2>Report</h2>
    <ul class="tabs">
      <li><a href="" class="active">Day</a></li>
      <li><a href="">Week</a></li>
      <li><a href="">Month</a></li>
    </ul>
    <div class="report"><img src="/day-report-pomodoros.png" alt=""></div>
    <div id="containerChart" style="width:100%; height:400px;"></div>
    <ul class="tabs">
      <li><a href="">Pomodoros</a></li>
      <li><a href="" class="active">Tasks</a></li>
    </ul>
    <a href="" class="go-back icon-arrow-left"></a>
  </section>