<div class="modal-overlay">
  <div class="modal" data-id="{{id}}">
    <div class="modal-btn-group">
      <button class="icon-trash trash" id="trash"></button>
      <button class="icon-close" id="closeModal"></button>
      <button class="icon-check" id="save"></button>
    </div>
      <h2 class="modal-heading">Edit Task</h2>
    <ul class="task-settings">
      <li class="item">
        <h3 class="heading">Title</h3>
        <input type="text" placeholder="Add title here" value="{{heading}}" id="title">
      </li>
      <li class="item">
        <h3 class="heading">Description</h3>
        <input type="text" placeholder="Add description here" value="{{taskDescription}}" id="description">
      </li>
      <li class="item">
        <h3 class="heading">Category</h3>
        <ul class="radio-group">
          <li class="work"><input type="radio" id="work" name="category"><label for="work">Work</label></li>
          <li class="education"><input type="radio" id="education" name="category"><label for="education">Education</label></li>
          <li class="hobby"><input type="radio" id="hobby" name="category"><label for="hobby">Hobby</label></li>
          <li class="sport"><input type="radio" id="sport" name="category"><label for="sport">Sport</label></li>
          <li class="other"><input type="radio" id="other" name="category"><label for="other">Other</label></li>
        </ul>
      </li>
      <li class="item">
        <h3 class="heading">Deadline</h3>
        <p>May 23, 2016</p>
      </li>
      <li class="item">
        <h3 class="heading">estimation</h3>
        <div class="checkbox-group">
          <input type="checkbox" class="checkbox"><label class="estimation"></label>
          <input type="checkbox" class="checkbox"><label class="estimation"></label>
          <input type="checkbox" class="checkbox"><label class="estimation"></label>
          <input type="checkbox" class="checkbox"><label class="estimation"></label>
          <input type="checkbox" class="checkbox"><label class="estimation"></label>
        </div>
      </li>
      <li class="item">
        <h3 class="heading">Priority</h3>
        <ul class="radio-group">
          <li class="urgent"><input type="radio" id="urgent" name="priority"><label for="urgent">Urgent</label></li>
          <li class="high"><input type="radio" id="high" name="priority"><label for="high">High</label></li>
          <li class="middle"><input type="radio" id="middle" name="priority"><label for="middle">Middle</label></li>
          <li class="low"><input type="radio" id="low" name="priority"><label for="low">Low</label></li>
        </ul>
      </li>
    </ul>
  </div>
</div>